caption{
    background-color: orange;
    margin: 20px auto;
    width: 40%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    font-family: 'Lucida Sans',;
}
table{
    width: 50%;
    margin: auto;
    border: 2px solid blue;
   
}

table, th, td{
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    border-collapse: collapse;
    text-align: left;
    font-size: 16px;
    padding: 15px;
}
th{
    background-color: dodgerblue;
    font-size: 20px;
}